.calendar {
  & .react-datepicker__month-container {
    border-width: 1px;
    border-color: transparent;
  }

  & .react-datepicker__header {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  & .react-datepicker__day--outside-month {
    color: #9ca3af;
  }

  & .react-datepicker__day--keyboard-selected {
    background-color: black;
    color: white;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.dark {
  & .calendar {
    & .react-datepicker {
      background-color: black;
    }

    & .react-datepicker__month-container {
      border-color: white;
    }

    & .react-datepicker__header {
      background-color: #474747;
    }

    & .react-datepicker__current-month,
    & .react-datepicker__day-name {
      color: white;
    }

    & .react-datepicker__day {
      color: white;

      &:hover:not(.react-datepicker__day--disabled) {
        background-color: lightgray;
        color: black;
      }
    }

    & .react-datepicker__day--keyboard-selected {
      background-color: white;
      color: black;
      border-color: white;
    }

    & .react-datepicker__day--disabled {
      color: dimgray;
    }
  }
}
